[submodule "wp-less"]
	path = wp-less
	url = https://github.com/sanchothefat/wp-less.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/animate"]
	path = lib/animate
	url = https://github.com/daneden/animate.css.git
